.card{
  min-height: 350px;
  margin-bottom: 20px;
  cursor: default;
}

.card:hover{
  background: #fafafa;
}
.card-title{
  font-size: 1em;
}
.card-img-top{
  width: 100%;
}
.card-block p{
  margin-bottom: 0.5em;
}
.editors-choice{
  color: #2494d6;
}
.editors-choice span{
  color: #737171;
}
