.disabled i{
  color: #cccccc;
}

.form-group{
  margin-top: 2rem !important;
}

.form-group{
  margin-bottom: 1rem !important;
}

.no-results{
  min-height: 70vh;
}

.pagination{
  margin: 1rem auto;
}

.form-group i{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 30px;
  cursor: pointer;
}

.form-group i:hover{
  color: #ddd;
}
.form-group i:active{
  color: #aaa;
}
